.header, .header-space {
  height: 170px;
}

.footer, .footer-space {
  height: 150px;
}

.header {
  position: fixed;
  top: 0;
}

.footer {
  position: fixed;
  bottom: 0;
}

@media screen {
  :host {
    display: none;
  }
}

table {
  width: 100%;
}

.header-content {
  display: flex;
}

.header-left {
  
}

.first-line {
  display: flex;
  align-items: baseline;
}

.report {
  width: 290px;
}

.time {
  width: 290px;
  text-align: right;
}

.header-right {
  margin-left: 10px;
}

.image {
  width: 150px;
}

.inside-table {
  outline-style: solid;
}

.last-line {
  display: flex;
  flex-direction: row;
}

.company-name {
  width: 350px;
}

.abn {
  width: 400px;
  text-align: right;
}